<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>College Notices</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <h1>SRI SHAKTHI INSTITUTE OF ENGINEERING AND TECHNOLOGY</h1>
    <h2>College Notices</h2>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/bonafide">Bonafide</a>
    <a href="/leave">Leave</a>
    <a href="/notices">Notices</a>
</nav>

<section>

    <h2>Latest College Notices</h2>

    <div class="card">
        <h3>📢 Internal Assessment</h3>
        <p>Internal Assessment starts from 28 July 2026.</p>
    </div>

    <div class="card">
        <h3>💼 Placement Drive</h3>
        <p>TCS Campus Recruitment on 30 July 2026.</p>
    </div>

    <div class="card">
        <h3>🤖 AI Workshop</h3>
        <p>One-day AI Workshop for all departments.</p>
    </div>

    <div class="card">
        <h3>💰 Semester Fee</h3>
        <p>Last date to pay semester fees is 10 August 2026.</p>
    </div>

    <br>

    <button type="button" onclick="window.location.href='/'">
        Back to Home
    </button>

</section>

<footer>
    <p>© 2026 Sri Shakthi Institute of Engineering and Technology</p>
</footer>

</body>
</html>